@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Light.ttf");
  font-weight: 200;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER - CSS */
.header {
  grid-area: head;
}

.h-top {
  font-size: 0.85rem;
  font-weight: 700;
  color: #333;
}

.h-dash {
  color: #004982;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.h-sub {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #999;
}

/* CARDS - CSS */
.card-container {
  grid-area: cards;
  margin-top: 1.5rem;
  display: flex;
}

.card-count {
  margin-right: 1.75rem;
  width: 17rem;
  height: 10rem;
  border: 2px solid #efebfe;
  background-color: #efebfe;
  border-radius: 25px;
}

.card-mean {
  margin: 0 1.75rem;
  width: 17rem;
  height: 10rem;
  border: 2px solid #ebfaff;
  background-color: #ebfaff;
  border-radius: 25px;
}

.card-max {
  margin: 0 1.75rem;
  width: 17rem;
  height: 10rem;
  border: 2px solid #edfdf5;
  background-color: #edfdf5;
  border-radius: 25px;
}

/* VISUALIZACION - CSS */
.graph {
  grid-area: vis;
  margin-top: 2rem;
}

.vis {
  width: 60rem;
  height: 30rem;
  border: 2px solid #fef7d8;
  border-radius: 25px;
  background-color: #fef7d8;
}

.vis-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vis-h1 {
  /* display: flex; */
  margin: 0.75rem 2rem;
  font-size: 0.85rem;
}

.vis-h2 {
  margin: 0.75rem 2rem;
  font-size: 0.85rem;
  color: #7c8091;
  width: 12rem;
}

.vis-h2 > div {
  border-color: #fef7d8 !important;
  background-color: #fef7d8 !important;
  box-shadow: 0 0 0 1px #fef7d8 !important;
}

.vis-h2 > div:hover {
  border-color: #fef7d8 !important;
  background-color: #fef7d8 !important;
  box-shadow: 0 0 0 1px #fef7d8 !important;
}

.vis-plot {
  display: flex !important;
  justify-content: center;
}

.container {
  font-family: Quicksand;
  font-weight: 700;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-areas:
    ". head head head ."
    ". cards cards cards ."
    ". vis vis options .";
}
