@font-face {
  font-family: "Quicksand Bold";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Light.ttf");
  font-weight: 200;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  font-family: Quicksand;
  font-weight: 700;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 0.1fr 2fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 0.5fr 1fr;
  grid-template-areas:
    ". head head ."
    ". tabs tabs ."
    ". cards options ."
    ". vis vis .";
}

.tabs-container {
  margin: 0 1rem;
  grid-area: tabs;
}

.card-container {
  display: flex;
  width: 70%;
}

/*TABS*/
.MuiTabs-indicator {
  background-color: #001e3c !important;
}

/* HEADER - CSS */
.header-container {
  margin: 0 1rem;
  grid-area: head;
}

.h-top {
  font-size: 0.85rem;
  font-weight: 700;
  color: #333;
}

.h-dash {
  color: #001e3c;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.h-sub {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  font-weight: 700;
  color: #666;
}

/* CARDS - CSS */
.pred-container {
  margin-top: 1rem;
}

.opts-container {
  grid-area: options;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.card-count {
  margin-right: 0.75rem;
  height: 6.25rem;
  border: 0px solid #eeebff;
  background-color: #eeebff;
  border-radius: 25px;
  padding: 0 1rem;
}

.card-mean {
  margin: 0 0.75rem;
  height: 6.25rem;
  border: 0px solid #fef7d8;
  background-color: #fef7d8;
  border-radius: 25px;
  padding: 0 1rem;
}

.card-max {
  margin-left: 0.75rem;
  height: 6.25rem;
  border: 0px solid #e2f9ff;
  background-color: #e2f9ff;
  border-radius: 25px;
  padding: 0 1rem;
}

.card-h1 {
  margin: 0 1.25rem !important;
  font-size: 0.85rem;
  width: 12rem;
  border-radius: 20px;
}

.card-h1 > div {
  border-radius: 8px;
  border-width: 2px;
  border-color: #004982 !important;
  background-color: #f6f8fa !important;
  box-shadow: 0 0 0 1px #f6f8fa !important;
}

.card-h1 > div:hover {
  border-radius: 8px;
  border-width: 2px;
  border-color: #004982 !important;
  background-color: #f6f8fa !important;
  box-shadow: 0 0 0 1px #f6f8fa !important;
}

.card-btn {
  border: 2px solid #004982;
  background-color: #004982;
  color: #fff;
  width: 9rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 0.85rem;
  font-family: Quicksand;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.card-btn-disabled {
  border: 2px solid #ccc;
  background-color: #ccc;
  color: #333;
  width: 11rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 0.85rem;
  transition: all 0.2s ease-in;
}

.card-btn:hover {
  cursor: pointer;
  background-color: #005ba0;
}

/* VISUALIZACION - CSS */
.graph-container {
  grid-area: vis;
  margin: 0.5rem 1rem;
}

.vis {
  width: 77rem;
  height: 27.5rem;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 5px 10px 20px 0px #33333333;
}

.vis-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vis-h1 {
  /* display: flex; */
  margin: 0.5rem 2rem;
  font-size: 0.85rem;
}

.vis-h2 {
  margin: 0.25rem 1rem;
  font-size: 0.85rem;
  color: #7c8091;
  width: 15rem;
}

.vis-h2 > div {
  border-color: #fff !important;
  background-color: #fff !important;
  box-shadow: 0 0 0 1px #fff !important;
}

.vis-h2 > div:hover {
  border-color: #fff !important;
  background-color: #fff !important;
  box-shadow: 0 0 0 1px #fff !important;
}

.vis-plot {
  display: flex !important;
  justify-content: center;
}

/* ICONS - CSS */
.icon-count {
  display: flex;
  width: 32px;
  height: 32px;
  mask-image: url("./assets/icons/count.svg");
  mask-size: cover;
  background-color: #563bfb;
  margin-right: 0.75rem;
}
.icon-mean {
  display: flex;
  width: 40px;
  height: 40px;
  mask-image: url("./assets/icons/mean.svg");
  mask-size: cover;
  background-color: #ffd000;
  margin-right: 0.5rem;
}

.icon-max {
  display: flex;
  width: 40px;
  height: 40px;
  mask-image: url("./assets/icons/max.svg");
  mask-size: cover;
  background-color: #00c4fa;
  margin-right: 0.5rem;
}
